<div class="comments">
  <p class="link-title">Comments</p>
  <ul>
    {{#each this}}
      <li class="list-item" >
        
          {{comment_text}}
          <sub><strong>posted by:</strong>
            {{user.first_name}}
            {{user.last_name}}
            <strong>on {{format_date created_at}}</strong></sub><br />
        
      </li>
    {{/each}}

  </ul>
</div>