<div class="comments">
     <p class="list-item">Comments</p>
    <ul class= "comments">
  {{#each posts as |post|}}
  {{#if comments}} 
  <li>{{comment_text}} posted by {{user.first_name}} {{user.last_name}}<li>
  {{/if}}
  {{/each}}
  </ul>
</div>