<script src="/javascript/code.js"></script>

<a href="/codes"></a>

<div class="home" id="code">
	<div class="container">
		{{#each codes}}
			<li class="list-item text-start">
				{{country_code_name}},
				{{country_code}}
			</li>
		{{/each}}
	</div>
</div>