{{!-- TODO add style classes to match rest of site --}}

<a href="/dashboard">&larr; Return to My Trips</a>

<section>
    <h1>Create a new blog</h1>

    <form class="create-blog-form">
        <div>
            <label for="blog-title">Blog title:</label>
            <input type="text" id="blog-title" name="blog-title" />
        </div>
        <div>
            <label for="blog-description">Description</label>
            <textarea name="blog-description" id="blog-description"></textarea>
        </div>
        <div>
            <label for="start-date">Start date:</label>
            <input type="date" id="start-date" name="start-date" />
            <label for="end-date">End date:</label>
            <input type="date" id="end-date" name="end-date" />
        </div>
        <div>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" />
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" />
        </div>
        <button type="submit">Create blog</button>
    </form>
</section>

<script src="/javascript/create-blog.js"></script>