<div class="home">
  <h4 class="link-title">Trip Blogs</h4>
  <ol class="post-list">

    <li>
      <article class="post">
        <div class="post-card">
          <a href="/single-blog/2" class="blog-title" target="_blank">Fun at the
            Grand Canyon - 15 comments</a>
          <span class="list-item"><strong>Posted by:</strong>
            Sam Davenport</span>
          <span class="list-item"><strong>Description:</strong>
            We spent a week camping, hiking, and taking in many amazing views.</span>
          <span class="list-item"><strong>Location:</strong> Arizona, USA</span>
          <span class="list-item"><strong>Start Date:</strong> 2020-08-15</span>
          <span class="list-item"><strong>End Date:</strong> 2020-08-22</span>
          <a href="/single-blog/2">More Details</a>
        </div>
      </article>
    </li>
    <li>
      <article class="post">
        <div class="post-card">
          <a href="/single-blog/2" class="blog-title" target="_blank">My London
            Trip - 5 comments</a>
          <span class="list-item"><strong>Posted by:</strong>
            Kristin Gaito</span>
          <span class="list-item"><strong>Description:</strong>
            Tour of all of the english pubs</span>
          <span class="list-item"><strong>Location:</strong>
            London, England</span>
          <span class="list-item"><strong>Start Date:</strong> 2020-08-15</span>
          <span class="list-item"><strong>End Date:</strong> 2020-08-22</span>
          <a href="/single-blog/2">More Details</a>
        </div>
      </article>
    </li>
    <li>
      <article class="post">
        <div class="post-card">
          <a href="/single-blog/2" class="blog-title" target="_blank">A Paris
            Adventure - 35 comments</a>
          <span class="list-item"><strong>Posted by:</strong>
            Christine Baxter</span>
          <span class="list-item"><strong>Description:</strong>
            A trip filled with art and pastries</span>
          <span class="list-item"><strong>Location:</strong>
            Paris, France</span>
          <span class="list-item"><strong>Start Date:</strong> 2020-08-15</span>
          <span class="list-item"><strong>End Date:</strong> 2020-08-22</span>
          <a href="/single-blog/2">More Details</a>
        </div>
      </article>
    </li>
    <li>
      <article class="post">
        <div class="post-card">
          <a href="/single-blog/2" class="blog-title" target="_blank">Family
            trip to the City - 23 comments</a>
          <span class="list-item"><strong>Posted by:</strong> Hank Kapka</span>
          <span class="list-item"><strong>Description:</strong>
            Sightseeing visit to Central Park, the MET, the Statue of Liberty,
            and Times Square</span>
          <span class="list-item"><strong>Location:</strong>
            New York, USA</span>
          <span class="list-item"><strong>Start Date:</strong> 2020-08-15</span>
          <span class="list-item"><strong>End Date:</strong> 2020-08-22</span>
          <a href="/single-blog/2">More Details</a>
        </div>
      </article>
    </li>
    <li>
      <article class="post">
        <div class="post-card">
          <a href="/single-blog/2" class="blog-title" target="_blank">Trip to
            Down Under - 47 comments</a>
          <span class="list-item"><strong>Posted by:</strong> Raman TV</span>
          <span class="list-item"><strong>Description:</strong>
            Harbor views and museums</span>
          <span class="list-item"><strong>Location:</strong>
            Sydney, Australia</span>
          <span class="list-item"><strong>Start Date:</strong> 2020-08-15</span>
          <span class="list-item"><strong>End Date:</strong> 2020-08-22</span>
          <a href="/single-blog/2">More Details</a>
        </div>
      </article>
    </li>

  </ol>

</div>