<div class="container">
    <div class="row align-items-start popular-nav">
    <a href="/popular/locations" class="popular-btn-nav col text-center">Locations</a>
    <a href="/popular/activities" class="popular-btn-nav col text-center">Activities</a>
    <a href="/popular/cuisine" class="popular-btn-nav col text-center">Cuisine</a>
    </div>
</div>

<div>
    {{#if locations}}
    <h5 class="blog-title p-5">Top Locations</h5>
    {{#each locations}}
    <li>
        {{city}}, {{country}}
    </li>
    {{/each}}
    {{/if}}

    {{#if activities }}
    <h5 class="blog-title">Top Activities</h5>
    {{#each activities}}
    <li>
        {{name}}
    </li>
    {{/each}}
    {{/if}}

    {{#if cuisine}}
    <h5 class="blog-title">Top Cuisine</h5>
    {{#each cuisine}}
    <li>
        {{name}}
    </li>
    {{/each}}
    {{/if}}
</div>

<script></script>



