<div class="nav-mini">
  
</div>
<form id="signup-form" class="form">
	<h4 class="blog-title">Create Your Account</h4>
	<div class="field">
		<label for="firstname-signup">First Name:</label><br />
		<input type="text" id="firstname-signup" />
	</div>
	<div class="field">
		<label for="lastname-signup">Last Name:</label><br />
		<input type="text" id="lastname-signup" />
	</div>
	<div class="field">
		<label for="email-signup">email:</label><br />
		<input type="text" id="email-signup" />
	</div>
	<div class="field">
		<label for="password-signup">password:</label><br />
		<input type="password" id="password-signup" />
	</div>
	<div class="field">
		<button class="button" type="submit">Sign Up</button>
	</div>
	<div class="error-field">
		<p id="error" ></p>
	</div>
	<div id="message">
		<h6>Password must contain the following:</h6>
		<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
		<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
		<p id="number" class="invalid">A <b>number</b></p>
		<p id="length" class="invalid">Between <b>8 and 32 characters</b></p>
	</div>
	<div class="field">
		<span>Already have an account?</span>
		<a href="/login" class="login">Log In</a>
	</div>
	<div class="field">
		<a href="/" class="center">Return Home</a>
	</div>
</form>
<script src="/javascript/signup.js"></script>
<script src="/javascript/password.js"></script>