 <h4 class="sub-heading">Create Your Account</h4>

          <form id="signup-form" class="form">
            <div class="field">
              <label for="firstname-signup">First Name:</label><br />
              <input type="text" id="firstname-signup" />
            </div>
            <div class="field">
              <label for="lastname-signup">Last Name:</label><br />
              <input type="text" id="lastname-signup" />
            </div>
            <div class="field">
              <label for="email-signup">email:</label><br />
              <input type="text" id="email-signup" />
            </div>
            <div class="field">
              <label for="password-signup">password:</label><br />
              <input type="password" id="password-signup" />
            </div>
            <div class="field">
              <button class="btn" type="submit">Sign Up</button>
            </div>
            <div class="field">
              <span>Already have an account?</span>
              <a href="/login" class="login">Log In</a>
            </div>
            <div class="field">
              <a href="/" class="center">Return Home</a>
            </div>
          </form>
          <script src="/javascript/signup.js"></script>