#message {
	display: none;
	background: #f1f1f1;
	color: #000;
	position: relative;
	padding: 5px;
	margin-top: 10px;
}

#message p {
	padding: 2px 5px;
	font-size: 0.8rem;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 34px;
}
h6 {
	text-align: center;
	font-size: 1rem;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
	color: green;
}

.valid:before {
	position: relative;
	left: -7px;
	content: "✔";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
	color: red;
}

.invalid:before {
	position: relative;
	left: -7px;
	content: "✖";
}

/* media queries */
@media only screen and (max-width: 575px) {
	h2 {
	  font-size: 1.9rem;
	  text-align: center;
	  margin-bottom: 20px;
	}
	header,
	.top-nav {
	  background-color: rgb(0, 0, 0, 1);
	  position: absolute;
	}
	.sidebar {
	  background-color: rgba(158, 205, 247, 1);
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  height: 125px;
	  align-content: space-around;
	  text-align: center;
	  margin: 0 auto;
	  z-index: 3;
	  position: sticky;
	  position: -webkit-sticky;
	  top: 0;
	}
	.main {
	  position: static;
	}
	.nav-mini {
	  position: sticky;
	  position: -webkit-sticky;
	  top: 105px;
	}
	.nav-choice {
	  text-decoration: none;
	  color: darkblue;
	  font-weight: bold;
	  transition: color 0.1s;
	  border-bottom: 1px solid whitesmoke;
	  padding: 4px 0;
	  height: 35px;
	  flex: 50%;
	}
	.sub-heading {
	  margin: 25px auto;
	  font-size: 1.6rem;
	}
	.form {
	  margin: auto;
	}
	.sidebar {
	  height: 50%;
	}
	.row {
	  height: fit-content;
	}
	.top-nav {
	  text-align: center;
	}
	.large-btn-nav {
	  margin: 0 auto;
	}
	.nav-mini-pop {
	  justify-content: center;
	  padding-right: 0;
	  position: sticky;
	  position: -webkit-sticky;
	  top: 105px;
	}
  }
  
  @media only screen and (max-width: 330px) {
	h2 {
	  font-size: 1.2rem;
	  margin-bottom: 33px;
	}
  }
  
  @media only screen and (min-width: 576px) {
	.nav-mini-pop {
	  padding-right: 100px;
	}
  }
  
  @media only screen and (min-width: 800px) {
	.nav-mini-pop {
	  padding-right: 150px;
	}
  }
  
  @media only screen and (max-width: 1200px) {
	.main {
	  left: 16.66%;
	}
  }
  
